
		<section class="hero is-link">
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title">Welcome to Project</h1>
			<h2 class="subtitle">A project management app built with Ruby on Rails</h2>
		</div>
	</div>
</section>

<section class="section">
	<div class="hero-body">
		<div class="container has-text-centered">
		<div class="columns">
			<div class="column is-7">
				<div class="content">
					<h3 class="title is-3">What can you do with Project Management?</h3>
					<p>You can <strong>manage</strong> your projects(create, update, delete).</p>
					<p>You can <strong>add</strong> tasks for your project.</p>
					<p>You can <strong>manage</strong> your tasks (create, update, delete).</p>
					<p>You can <strong>assign</strong> tasks to other users.</p>
				</div>
			</div>
		</div>
	</div>
	</section>


	


	
	
